<%-include('../../views/partial/user/header',{user})%>
    <!-- <link rel="stylesheet" href="/path/to/css/easyzoom.css" /> -->
    <!-- <link rel="stylesheet" href="/public/public/hover-extended-magnify/hover-extended-magnify/"> -->

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span>shoes
                    <span></span>
                </div>
            </div>
        </div>
            <style>
                .custom-cart-button {
    width: 150px; /* Adjust width as desired */
    height: 40px; /* Adjust height as desired */
    font-size: 16px; /* Control font size */
    padding: 10px 20px; /* Adjust padding */
    background-color: #4CAF50; /* Add your preferred background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-cart-button:hover {
    background-color: #45a049; /* Slightly darker color on hover */
}

            </style>

        <section class="mt-50 mb-50">
            <div class="container">

                <div class="row flex-row-reverse">


                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <!-- Product Images Section -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    
                                    <div class="detail-gallery">
                                        
                                        <div class="product-image-slider rounded-sm">

                                            <img src="/uploads/re-image/<%= ProductData.images[0] %>"
                                                alt="product image">
                                            <img src="/uploads/re-image/<%= ProductData.images[1] %>"
                                                alt="product image">
                                            <img src="/uploads/re-image/<%= ProductData.images[2] %>"
                                                alt="product image">
                                            <img src="/uploads/re-image/<%= ProductData.images[3] %>"
                                                alt="product image">


                                        </div> 
                                        <div class="col-md-6 col-xs-12">
                                           



                                        <!-- Thumbnails -->
                                  

                                         <div class="slider-nav-thumbnails pl-3 pr-3  d-g">

                                                  <div><img src="/uploads/re-image/<%= ProductData.images[0] %>" alt=""></div>
                                            <div><img src="/uploads/re-image/<%= ProductData.images[1] %>" alt=""></div>
                                            <div><img src="/uploads/re-image/<%= ProductData.images[2] %>" alt=""></div>
                                            <div><img src="/uploads/re-image/<%= ProductData.images[3] %>" alt=""></div>
                                        
                                            </div>
    

                                       
                                        </div>
                                    </div>
                                    <!-- Social Share Icons -->
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                            </li>
                                            <li class="social-linkedin"><a href="#"><img
                                                        src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Product Details Section -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%= ProductData.productName %>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span>Category: <a href="shop-grid-right.html">
                                                        <%= ProductData.category.name %>
                                                    </a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted">(25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">$<%= ProductData.salePrice %></span></ins>
                                                <ins><span class="old-price font-md ml-15">$<%= ProductData.regularPrice
                                                            %></span></ins>
                                                <span class="save-price font-md color3 ml-15">25% Off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>
                                                <%= ProductData.description %>
                                            </p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera
                                                    Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">

                                                <!-- <a href="/add-to-cart?id=<%= ProductData._id %>" >
                                                    <button type="button" class="button button-add-to-cart" >
                                                        Add to cart
                                                    </button>
                                                </a> -->
                                                <a href="/add-to-cart?id=<%= ProductData._id %>">
                                                    <button type="button" class="button button-add-to-cart custom-cart-button ">
                                                        Add to cart
                                                    </button>
                                                </a>
                                                
                                                
                                            </div>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href=""><i
                                                    class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li>
                                                <%= ProductData.status %>:<span class="in-stock text-success ml-5">
                                                        <%= ProductData.quantity %>
                                                    </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="tab-style3">
                                    <ul class="nav nav-tabs text-uppercase">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                                href="#Description">Description</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab"
                                                href="#Additional-info">Additional info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab"
                                                href="#Reviews">Reviews (3)</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content shop_info_tab entry-main-content">
                                        <div class="tab-pane fade show active" id="Description">
                                            <div class="">
                                                <p>Uninhibited carnally hired played in whimpered dear gorilla koala
                                                    depending and much yikes off far quetzal goodness and from for
                                                    grimaced goodness unaccountably and meadowlark near unblushingly
                                                    crucial scallop
                                                    tightly neurotic hungrily some and dear furiously this apart.</p>
                                                <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly
                                                    much hello on spoon-fed that alas rethought much decently richly and
                                                    wow against the frequent fluidly at formidable acceptably flapped
                                                    besides and much circa far over the bucolically hey precarious
                                                    goldfinch mastodon goodness gnashed a jellyfish and one however
                                                    because.
                                                </p>
                                                <ul class="product-more-infor mt-30">
                                                    <li><span>Type Of Packing</span> Bottle</li>
                                                    <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                                    <li><span>Quantity Per Case</span> 100ml</li>
                                                    <li><span>Ethyl Alcohol</span> 70%</li>
                                                    <li><span>Piece In One</span> Carton</li>
                                                </ul>
                                                <hr class="wp-block-separator is-style-dots">
                                                <p>Laconic overheard dear woodchuck wow this outrageously taut beaver
                                                    hey hello far meadowlark imitatively egregiously hugged that yikes
                                                    minimally unanimous pouted flirtatiously as beaver beheld above
                                                    forward
                                                    energetic across this jeepers beneficently cockily less a the
                                                    raucously that magic upheld far so the this where crud then below
                                                    after jeez enchanting drunkenly more much wow callously irrespective
                                                    limpet.</p>
                                                <h4 class="mt-30">Packaging & Delivery</h4>
                                                <hr class="wp-block-separator is-style-wide">
                                                <p>Less lion goodness that euphemistically robin expeditiously bluebird
                                                    smugly scratched far while thus cackled sheepishly rigid after due
                                                    one assenting regarding censorious while occasional or this more
                                                    crane
                                                    went more as this less much amid overhung anathematic because much
                                                    held one exuberantly sheep goodness so where rat wry well
                                                    concomitantly.
                                                </p>
                                                <p>Scallop or far crud plain remarkably far by thus far iguana lewd
                                                    precociously and and less rattlesnake contrary caustic wow this near
                                                    alas and next and pled the yikes articulate about as less cackled
                                                    dalmatian
                                                    in much less well jeering for the thanks blindly sentimental
                                                    whimpered less across objectively fanciful grimaced wildly some wow
                                                    and rose jeepers outgrew lugubrious luridly irrationally
                                                    attractively
                                                    dachshund.
                                                </p>
                                            </div>
                                        </div>


                                        <div class="tab-pane fade" id="Reviews">
                                            <!--Comments-->
                                            <div class="comments-area">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <h4 class="mb-30">Customer questions & answers</h4>
                                                        <div class="comment-list">
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="assets/imgs/page/avatar-6.jpg" alt="">
                                                                        <h6><a href="#">Jacky Chan</a></h6>
                                                                        <p class="font-xxs">Since 2012</p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                style="width:90%">
                                                                            </div>
                                                                        </div>
                                                                        <p>Thank you very fast shipping from Poland only
                                                                            3days.</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">December 4,
                                                                                    2020 at 3:12 pm </p>
                                                                                <a href="#"
                                                                                    class="text-brand btn-reply">Reply
                                                                                    <i class="fi-rs-arrow-right"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--single-comment -->
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="assets/imgs/page/avatar-7.jpg" alt="">
                                                                        <h6><a href="#">Ana Rosie</a></h6>
                                                                        <p class="font-xxs">Since 2008</p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                style="width:90%">
                                                                            </div>
                                                                        </div>
                                                                        <p>Great low price and works well.</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">December 4,
                                                                                    2020 at 3:12 pm </p>
                                                                                <a href="#"
                                                                                    class="text-brand btn-reply">Reply
                                                                                    <i class="fi-rs-arrow-right"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--single-comment -->
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="assets/imgs/page/avatar-8.jpg" alt="">
                                                                        <h6><a href="#">Steven Keny</a></h6>
                                                                        <p class="font-xxs">Since 2010</p>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                style="width:90%">
                                                                            </div>
                                                                        </div>
                                                                        <p>Authentic and Beautiful, Love these way more
                                                                            than ever expected They are Great earphones
                                                                        </p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">December 4,
                                                                                    2020 at 3:12 pm </p>
                                                                                <a href="#"
                                                                                    class="text-brand btn-reply">Reply
                                                                                    <i class="fi-rs-arrow-right"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--single-comment -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">

                                                    </div>
                                                </div>
                                                <!--comment form-->
                                                <div class="comment-form">
                                                    <h4 class="mb-15">Add a review</h4>
                                                    <div class="product-rate d-inline-block mb-30">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-12">


                                                            <!-- <form class="form-contact comment_form" 
                                                                id="commentForm">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <textarea class="form-control w-100"
                                                                                name="comment" id="comment" cols="30"
                                                                                rows="9"
                                                                                placeholder="Write Comment"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <input class="form-control" name="name"
                                                                                id="name" type="text"
                                                                                placeholder="Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <input class="form-control" name="email"
                                                                                id="email" type="email"
                                                                                placeholder="Email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <input class="form-control" name="website"
                                                                                id="website" type="text"
                                                                                placeholder="Website">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit"
                                                                        class="button button-contactForm">Submit
                                                                        Review</button>
                                                                </div>
                                                            </form> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
        </section>
    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/zoom/extm.min.js"></script>

        <script>

            function changeMainImage(imageUrl) {
  console.log("Image clicked:", imageUrl);
        const mainProductImage = document.getElementById('mainProductImage');
        mainProductImage.src = imageUrl;

        mainProductImage.onload = function() {
        $('.pd_img img').extmDestroy(); 
        $('.pd_img img').extm({
          zoomLevel:2,
          position:'right',
          offset:{x:0,y:0},
          rightPad:20,
          height:'auto'
        }); 
    }
  }

    
    $(document).ready(function() {
        $('.pd_img img').extm({
            zoomLevel: 2, 
            position:'right',
            offset: { x: 0, y: 0 },
            rightPad: 20,
            height:'auto',
        });
    });
        </script>

        <script>
    
            console.log('out')
            document.getElementById("form").addEventListener("submit", async (event) => {
                //   event.preventDefault();
    
                //   const form = event.target;
    
    
                //   const data = {
                //     productId: form.querySelector('input[name="productId"]').value,
                //     quantity: form.querySelector('input[name="quantity"]').value
                //   };
                const ProductId = document.getElementById('proId').value;
                console.log("Pro: ", ProductId);
    
    
                  await  fetch(`/add-to-cart?productId=${ProductId}`, {
                      method: "post",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({ProductId:ProductId}),
                    })
                    .then(response => response.json())
                    .then((data) => {
                        if(data.success){
                            Swal.fire({
                        icon: "success",
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1500
                      }).then(() => {
            window.location.href = '/productDetails'
          });
    
    
                         } else {
                      Swal.fire({
                        icon: "error",
                        title: result.message || "An error occurred",
                        showConfirmButton: true,
                      })
                    }
                    })
                   .catch ((error) => {
                    console.error("Error adding product to cart:", error);
                    Swal.fire({
                      icon: "error",
                      title: "An error occurred",
                      text: error.message,
                      showConfirmButton: true,
                    });
                   }) 
    
    
            });
    
        </script>


    </main>
    <%-include('../../views/partial/user/footer')%>